nav li{list-style: none;
    margin-left: 15px;
    font-weight: 500;
    padding: 0px 10px;
}

nav li a{text-decoration: none;
    color: black;
    font-size: 20px;
}
nav li:hover{
    background-color: rgb(179, 215, 245);
}

nav >ul{display: flex;}

nav > ul > li:hover > ul{display: block;}

.dropdown{display: none;
    position: absolute;
    background-color: rgb(119, 156, 212);
    padding: 0%;
}

.dropdown li{padding: 0px 5px;
    margin: 0px;
}

